<div class="row">
  <div class="col-sm-12 main-header bg-secondary">
    <h1 class="display-3">Top Trending</h1>
    <h1><small>Popular activities near you</small></h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <button class="btn btn-success" type="button"><i class="fa fa-music fa-2x"></i></button>
    <button class="btn btn-success" type="button"><i class="fa fa-cutlery fa-2x"></i></button>
    <button class="btn btn-success" type="button"><i class="fa fa-bicycle fa-2x"></i></button>
    <button class="btn btn-success" type="button"><i class="fa fa-shopping-bag fa-2x"></i></button>
    <button class="btn btn-success" type="button"><i class="fa fa-tree fa-2x"></i></button>
    <button class="btn btn-success" type="button"><i class="fa fa-futbol-o fa-2x"></i></button>
    <button class="btn btn-success" type="button"><i class="fa fa-gamepad fa-2x"></i></button>
  </div>
</div>

<activity-tiles-container></activity-tiles-container>
