<div class="row">
  <div class="col-sm-12 text-center">
    <ng-container *ngFor="let filter of stateFilters">
      <button *ngIf="filter.isActive" class="btn btn-success pointer" type="button" (click)="disableFilter(filter)">
        <i [ngClass]="setIcon(filter.name)" class="fa fa-2x"></i></button>
      <button *ngIf="!filter.isActive" class="btn btn-success disabled pointer" type="button" (click)="activateFilter(filter)">
        <i [ngClass]="setIcon(filter.name)" class="fa fa-2x"></i></button>
    </ng-container>
   <button class="btn btn-danger pointer" type="button" (click)="resetFilters()">
        <i class="fa fa-2x fa-refresh"></i></button>
  </div>
</div>
