<div class="row">
  <div class="col-sm-12 text-center">
    <button class="btn btn-success" type="button" (click)="disableFilter('music')"><i class="fa fa-music fa-2x"></i></button>
    <button class="btn btn-success" type="button" (click)="activateFilter('music')"><i class="fa fa-cutlery fa-2x"></i></button>
    <button class="btn btn-success" type="button"><i class="fa fa-bicycle fa-2x"></i></button>
    <button class="btn btn-success" type="button"><i class="fa fa-shopping-bag fa-2x"></i></button>
    <button class="btn btn-success" type="button"><i class="fa fa-tree fa-2x"></i></button>
    <button class="btn btn-success" type="button"><i class="fa fa-futbol-o fa-2x"></i></button>
    <button class="btn btn-success" type="button"><i class="fa fa-gamepad fa-2x"></i></button>
  </div>
</div>