<div class="tile" [routerLink]="['/activity',activity.id]" >
  <div class="header text-center">
    <img src="{{activity.mainImage}}" *ngIf="activity.mainImage"> 
    <i class="fa fa-star-o fa-5x fa-border mt-40"></i>
  </div>
  <div class="title">
    <h2>{{activity.title}}</h2>
  </div>
  <div class="description bar">
    <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{activity.time}}</p>
    <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{activity.location}}</p>
  </div>
</div>
