/* You can add global styles to this file, and also import other style files */
.main-bg{
    background-color: #5ca3fa;;
background-image: url("./assets/food.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

html,body,.main-bg{
    height:100%;
    
}